# 1.INTRODUCTION

### 1.1 Background

A digitally native vertical fashion retailer, with a substantial e-commerce footprint, has begun the rollout of brick and mortar stores as part of their omnichannel retail strategy. After rolling out stores in a few select cities by guessing where the best locations were to open, as part of their store expansion for Paris they've decided to be more informed and selective, and take the time to do some research.

I've been given the exciting task of assisting them to make data-driven decisions on the new locations that are most suitable for their new stores in Paris. This will be a major part of their decision-making process, the other being on the ground qualitative analysis of districts once this data and report are reviewed and studied.

The fashion brand is not what is considered high-end, they are positioned in upper end of the fast fashion market. As such, they do not seek stores in the premium upmarket strips like Avenue Montaigne, but rather, in high traffic areas where consumers go for shopping, restaurants and entertainment. Foursquare data will be very helpful in making data-driven decisions about the best of those areas.

## 1.2 PROBLEM

Qualitative data from another retailer that they know, suggests that the best locations to open new fashion retail stores may not only be where other clothing is located. This data strongly suggests that the best places are in fact areas that are near French Restaurants, Cafés and Wine Bars. Parisians are very social people that frequent these place often, so opening new stores in these locations is becoming popular.

The analysis and recommendations for new store locations will focus on general districts with these establishments, not on specific store addresses. Narrowing down the best district options derived from analysis allows for either further research to be conducted, advising agents of the chosen district, or on the ground searching for specific sites by the company's personnel.

## 1.3 INTEREST
Without leveraging data to make decisions about new store locations, the company could spend countless hours walking around districts, consulting many real estate agents with their own district biases, and end up opening in yet another location that is not ideal.

Data will provide better answers and better solutions to their task at hand.

Outcomes

The goal is to identify the best districts - Arrondissements - to open new stores as part of the company's plan. The results will be translated to management in a simple form that will convey the data-driven analysis for the best locations to open stores.

# 2.Data acquisition and Cleaning

## 2.1 Data Sources

Import the Paris District Data¶
Arrondissements Municipaux for Paris CSV (administrative districts)
Paris is divided into 20 Arrondissements Municipaux (or administrative districts), shortened to just arrondissements. They and normally referenced by the arrondissement number rather than a name.

Data for the arrondissements is necessary to select the most suitable of these areas for new stores.

Initially looking to get this data by scraping the relevent Wikipedia page (https://en.wikipedia.org/wiki/Arrondissements_of_Paris), fortunately, after much research, this data is available on the web and can be manipulated and cleansed to provide a meaningful dataset to use.

Data from Open|DATA France: https://opendata.paris.fr/explore/dataset/arrondissements/table/?dataChart

Also available from Opendatasoft: https://data.opendatasoft.com/explore/dataset/arrondissements%40parisdata/export/

# 2.2 Data Cleaning

I have removed unnecessary data and i have changed the column names
### Import the Required Libraries

In [1]:
import numpy as np # library to handle data in a vectorized manner
import json # library to handle JSON files
import pandas as pd

!pip install geopy 
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.colors as colors

from bs4 import BeautifulSoup

# Import k-means from clustering stage
from sklearn.cluster import KMeans

!pip install folium 
import folium # map rendering library

print('Libraries imported.')

Requirement already satisfied: geopy in /opt/conda/envs/Python36/lib/python3.6/site-packages (1.22.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geopy) (1.50)
Requirement already satisfied: folium in /opt/conda/envs/Python36/lib/python3.6/site-packages (0.5.0)
Requirement already satisfied: branca in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (0.4.1)
Requirement already satisfied: jinja2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.10)
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.21.0)
Requirement already satisfied: six in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (1.12.0)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from jinja2->folium) (1.1.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2020.4.5.1)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (1.24.1)
Libraries imported.

In [2]:
# Download the dataset and read it into a pandas dataframe.

# The Arrondissements dataset was downloaded from Paris|DATA:  https://opendata.paris.fr/explore/dataset/arrondissements/table/?dataChart
# Then placed on the GitHub repo for the project.
# https://raw.githubusercontent.com/AR-data-science/Coursera_Capstone/master/Arrondissements_.csv

paris = pd.read_csv('https://raw.githubusercontent.com/AR-data-science/Coursera_Capstone/master/Arrondissements_.csv')
paris

,CAR,NAME,NSQAR,CAR.1,CARINSEE,LAR,NSQCO,SURFACE,PERIMETRE,Geometry_X,Geometry_Y
0,3,Temple,750000003,3,3,3eme Ardt,750001537,1170882828,4519264,48.862872,2.360001
1,19,Buttes-Chaumont,750000019,19,19,19eme Ardt,750001537,6792651129,11253182,48.887076,2.384821
2,14,Observatoire,750000014,14,14,14eme Ardt,750001537,5614877309,10317483,48.829245,2.326542
3,10,Entrepot,750000010,10,10,10eme Ardt,750001537,2891739442,6739375,48.876130,2.360728
4,12,Reuilly,750000012,12,12,12eme Ardt,750001537,16314782637,24089666,48.834974,2.421325
5,16,Passy,750000016,16,16,16eme Ardt,750001537,16372542129,17416110,48.860392,2.261971
6,11,Popincourt,750000011,11,11,11eme Ardt,750001537,3665441552,8282012,48.859059,2.380058
7,2,Bourse,750000002,2,2,2eme Ardt,750001537,991153745,4554104,48.868279,2.342803
8,4,Hotel-de-Ville,750000004,4,4,4eme Ardt,750001537,1600585632,5420908,48.854341,2.357630
9,17,Batignolles-Monceau,750000017,17,17,17eme Ardt,750001537,5668834504,10775580,48.887327,2.306777
10,18,Buttes-Montmartre,750000018,18,18,18eme Ardt,750001537,5996051308,9916464,48.892569,2.348161
11,1,Louvre,750000001,1,1,1er Ardt,750001537,1824612860,6054937,48.862563,2.336443
12,5,Pantheon,750000005,5,5,5eme Ardt,750001537,2539374623,6239195,48.844443,2.350715
13,7,Palais-Bourbon,750000007,7,7,7eme Ardt,750001537,4090057185,8099425,48.856174,2.312188
14,20,Menilmontant,750000020,20,20,20eme Ardt,750001537,5983446037,10704940,48.863461,2.401188
15,8,elysee,750000008,8,8,8eme Ardt,750001537,3880036397,7880533,48.872721,2.312554
16,9,Opera,750000009,9,9,9eme Ardt,750001537,2178303275,6471588,48.877164,2.337458
17,13,Gobelins,750000013,13,13,13eme Ardt,750001537,7149311091,11546547,48.828388,2.362272
18,15,Vaugirard,750000015,15,15,15eme Ardt,750001537,8494994081,13678798,48.840085,2.292826
19,6,Luxembourg,750000006,6,6,6eme Ardt,750001537,2153095586,6483687,48.849130,2.332898

## exploring and wrangling

In [3]:
# Rename the necessary columns 'Geometry_X and Geometry_Y' etc...

# District : name of the central District for the Arrondissement
# Arrondissement : the Arrondissement or district number which is used to identify it
# Arrondissement_Fr : the descriptive French label for each Arrondissement

paris.rename(columns={'NAME': 'Neighborhood ', 'CAR': 'Arrondissement_Num', 'Geometry_X': 'Latitude', 'Geometry_Y': 'Longitude',  'LAR': 'French_Name'}, inplace=True)
paris

,Arrondissement_Num,Neighborhood,NSQAR,CAR.1,CARINSEE,French_Name,NSQCO,SURFACE,PERIMETRE,Latitude,Longitude
0,3,Temple,750000003,3,3,3eme Ardt,750001537,1170882828,4519264,48.862872,2.360001
1,19,Buttes-Chaumont,750000019,19,19,19eme Ardt,750001537,6792651129,11253182,48.887076,2.384821
2,14,Observatoire,750000014,14,14,14eme Ardt,750001537,5614877309,10317483,48.829245,2.326542
3,10,Entrepot,750000010,10,10,10eme Ardt,750001537,2891739442,6739375,48.876130,2.360728
4,12,Reuilly,750000012,12,12,12eme Ardt,750001537,16314782637,24089666,48.834974,2.421325
5,16,Passy,750000016,16,16,16eme Ardt,750001537,16372542129,17416110,48.860392,2.261971
6,11,Popincourt,750000011,11,11,11eme Ardt,750001537,3665441552,8282012,48.859059,2.380058
7,2,Bourse,750000002,2,2,2eme Ardt,750001537,991153745,4554104,48.868279,2.342803
8,4,Hotel-de-Ville,750000004,4,4,4eme Ardt,750001537,1600585632,5420908,48.854341,2.357630
9,17,Batignolles-Monceau,750000017,17,17,17eme Ardt,750001537,5668834504,10775580,48.887327,2.306777
10,18,Buttes-Montmartre,750000018,18,18,18eme Ardt,750001537,5996051308,9916464,48.892569,2.348161
11,1,Louvre,750000001,1,1,1er Ardt,750001537,1824612860,6054937,48.862563,2.336443
12,5,Pantheon,750000005,5,5,5eme Ardt,750001537,2539374623,6239195,48.844443,2.350715
13,7,Palais-Bourbon,750000007,7,7,7eme Ardt,750001537,4090057185,8099425,48.856174,2.312188
14,20,Menilmontant,750000020,20,20,20eme Ardt,750001537,5983446037,10704940,48.863461,2.401188
15,8,elysee,750000008,8,8,8eme Ardt,750001537,3880036397,7880533,48.872721,2.312554
16,9,Opera,750000009,9,9,9eme Ardt,750001537,2178303275,6471588,48.877164,2.337458
17,13,Gobelins,750000013,13,13,13eme Ardt,750001537,7149311091,11546547,48.828388,2.362272
18,15,Vaugirard,750000015,15,15,15eme Ardt,750001537,8494994081,13678798,48.840085,2.292826
19,6,Luxembourg,750000006,6,6,6eme Ardt,750001537,2153095586,6483687,48.849130,2.332898

## Clean up the dataset to remove unnecessary columns

In [4]:
# Clean up the dataset to remove unnecessary columns.
# Some of the columns are for mapping software - not required here.

paris.drop(['NSQAR','CAR.1','CARINSEE','NSQCO','SURFACE', 'PERIMETRE' ], axis=1, inplace=True)
paris

    Arrondissement_Num        Neighborhood  French_Name   Latitude  Longitude
0                    3               Temple   3eme Ardt  48.862872   2.360001
1                   19      Buttes-Chaumont  19eme Ardt  48.887076   2.384821
2                   14         Observatoire  14eme Ardt  48.829245   2.326542
3                   10             Entrepot  10eme Ardt  48.876130   2.360728
4                   12              Reuilly  12eme Ardt  48.834974   2.421325
5                   16                Passy  16eme Ardt  48.860392   2.261971
6                   11           Popincourt  11eme Ardt  48.859059   2.380058
7                    2               Bourse   2eme Ardt  48.868279   2.342803
8                    4       Hotel-de-Ville   4eme Ardt  48.854341   2.357630
9                   17  Batignolles-Monceau  17eme Ardt  48.887327   2.306777
10                  18    Buttes-Montmartre  18eme Ardt  48.892569   2.348161
11                   1               Louvre    1er Ardt  48.862563   2.336443
12                   5             Pantheon   5eme Ardt  48.844443   2.350715
13                   7       Palais-Bourbon   7eme Ardt  48.856174   2.312188
14                  20         Menilmontant  20eme Ardt  48.863461   2.401188
15                   8               elysee   8eme Ardt  48.872721   2.312554
16                   9                Opera   9eme Ardt  48.877164   2.337458
17                  13             Gobelins  13eme Ardt  48.828388   2.362272
18                  15            Vaugirard  15eme Ardt  48.840085   2.292826
19                   6           Luxembourg   6eme Ardt  48.849130   2.332898